<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="EJournalDB"
     providerName="System.Data.ProviderName"
    connectionString= "Server=80.78.240.16,1433;Database=Sandbox.test;Integrated Security=false;User ID=devEd;Password=qqq!11"/>
  </connectionStrings>
</configuration>