<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="EJournalDB"
     providerName="System.Data.ProviderName"
     connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=EJornalDB;Integrated Security=True"/>
  </connectionStrings>
</configuration>